html {
    height: 100%
}

body {
    --thumbnails-image-width: 25vw;
    --thumbnails-image-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
    --details-image-width: 60vw;
    --details-image-height: 50vw;
}

body {
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin-bottom: 8px;
    padding: 0px 16px;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
    width: 100%;
    font-family: 'Limelight', cursive;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.main-class.hidden {
    justify-content: space-around;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    transition: 2s cubic-bezier(1, 1.4, 0.2, 1);
}

.hidden .details-container {
    display: none;
}

.details-frame {
    position: relative;
}

.details-image {
    width: var(--details-image-width);
    height: var(--details-image-height);
    border-radius: 12pt;
    box-shadow: 0 3.5vw 7vw rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    object-fit: cover;
}

.details-title {
    display: block;
    background-color: aliceblue;
    font-size: 1.6em;
    font-family: 'Archivo', sans-serif;
    position: absolute;
    padding: 0.1em 0.4em;
    bottom: 3.4vh;
    left: -2vw;
    box-shadow: 0 3.5vw 7vw rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 85%;
}

#hide-button {
    position: absolute;
    right: -1.2vw;
    top: 1.2vh;
    background-color: aliceblue;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 3.5vw 7vw rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 37vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 3vh;
}

.hidden .thumbnails-list {
    max-height: 60vh;
}

.thumbnails-item {
    border: solid 1.2px rgb(50, 50, 50);
    margin-top: 2vh;
    border-radius: 8pt;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    margin-left: 1vw;
}

.thumbnails-item:hover {
    transform: scale(1.02);
}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
    object-fit: cover;
}

.thumbnails-title {
    display: block;
    text-align: center;
    background-color: aliceblue;
    color: black;
    height: var(--thumbnails-title-height);
    font-family: 'Archivo Narrow', sans-serif;
}

.is-point {
    transform: scale(0.001);
    transition: 0s;
}

@media (min-width: 560px) {
    body {
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.25);
        --details-image-width: 45vw;
        --details-image-height: 35vw;
    }

    .logo {
        font-size: 1em;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }

    .details-container {
        justify-content: center;
        margin-bottom: 0;
    }

    .thumbnails-list {
        padding-right: 2vw;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 75vh;
        order: -1;
        justify-content: flex-start;
    }

    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 75vh;
    }
}

@media (min-width: 1000px) {
    .details-container {
        margin-top: 5vh;
        margin-right: 5vw;
    }

    .thumbnails-list {
        margin-top: 2.5vh;
        max-height: 86vh;
    }

    .thumbnails-title {
        font-size: 1.2em;
    }
}